.inner_container {
    background-color: #fff;
    width: 320px;
    height: 497px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    margin-bottom: 10px;
}

.qr_image_container {
    margin-bottom: 24px;
}

.qr_image {
    height: 288px;
    width: 288px;
    border-radius: 10px;
}

.subtitles {

    display: flex;
    height: 131px;
    width: 288px;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.para_1 {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: 1F314F;

}

.para_2 {
    padding: 16px;
    text-align: center;
    font-size: 15px;
    color: #68778D;
}